<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<dllmap os="osx" dll="glib-2.0-0.dll" target="libglib-2.0.0.dylib" />
	<dllmap os="osx" dll="gio-2.0-0.dll" target="libgio-2.0.0.dylib" />
	<dllmap os="osx" dll="gobject-2.0-0.dll" target="libgobject-2.0.0.dylib" />
	<dllmap os="osx" dll="gthread-2.0-0.dll" target="libgthread-2.0.0.dylib" />
	<dllmap os="osx" dll="gmodule-2.0-0.dll" target="libgmodule-2.0.0.dylib" />
	<dllmap os="osx" dll="gstreamer-1.0-0.dll" target="libgstreamer-1.0.0.dylib" />
	<dllmap os="osx" dll="gstapp-1.0-0.dll" target="libgstapp-1.0.0.dylib" />
	<dllmap os="osx" dll="gstaudio-1.0-0.dll" target="libgstaudio-1.0.0.dylib" />
	<dllmap os="osx" dll="gstbase-1.0-0.dll" target="libgstbase-1.0.0.dylib" />
	<dllmap os="osx" dll="gstcontroller-1.0-0.dll" target="libgstcontroller-1.0.0.dylib" />
	<dllmap os="osx" dll="gstfft-1.0-0.dll" target="libgstfft-1.0.0.dylib" />
	<dllmap os="osx" dll="gstnet-1.0-0.dll" target="libgstnet-1.0.0.dylib" />
	<dllmap os="osx" dll="gstpbutils-1.0-0.dll" target="libgstpbutils-1.0.0.dylib" />
	<dllmap os="osx" dll="gstrtp-1.0-0.dll" target="libgstrtp-1.0.0.dylib" />
	<dllmap os="osx" dll="gstrtsp-1.0-0.dll" target="libgstrtsp-1.0.0.dylib" />
	<dllmap os="osx" dll="gstsdp-1.0-0.dll" target="libgstsdp-1.0.0.dylib" />
	<dllmap os="osx" dll="gsttag-1.0-0.dll" target="libgsttag-1.0.0.dylib" />
	<dllmap os="osx" dll="gstvideo-1.0-0.dll" target="libgstvideo-1.0.0.dylib" />
	<dllmap os="osx" dll="gstwebrtc-1.0-0.dll" target="libgstwebrtc-1.0.0.dylib" />
	<dllmap os="osx" dll="gstnet-1.0-0.dll" target="libgstnet-1.0.0.dylib" />
	<dllmap os="osx" dll="ges-1.0-0.dll" target="libges-1.0.0.dylib" />
	<dllmap os="osx" dll="gstgl-1.0-0.dll" target="libgstgl-1.0.0.dylib" />
</configuration>